body{
    font-family: Verdana, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
}

p{
    text-align: justify;
}


img{
    margin-left: 0;
    width: 300px;
    height: auto;
}

 .name{
    margin-left: 20px;
    font-family: 'Satisfy', cursive;
	font-size: 40px;
}

.links{
    font-size: 14px;
}